body {
    background-color: #1e1f21;
    height:100%;
}


.title {
  color: white;
  font-size: 60%;
  font-family: Verdana, Geneva, sans-serif;
  height: 14%;
  width: 49%;
  position: fixed;
  line-height: 100%;

}
.left {
  left: 0;
  text-align: right;
  padding-right: 1%;
}
.right {
  right: 0;
  text-align: left;
  padding-left: 1%;
}

.score_number {
  font-size: 500%;
  padding-top: 0;
}


text.jersey_numbers {
  font-size: 20px;
  font-family: sans-serif;
  font:impact;
  pointer-events: none;
  fill:white;

}

circle {
	stroke: #999;
	stroke-width: 2;
}

.pass_line {
	fill: none;
  stroke-opacity: 0.4;
	stroke: #999;
}

.pass_line--highlight {
  stroke-opacity: 0.99;
  stroke: #fff
}

#comparison_box {

  	fill: #555;
    stroke-width: 1;
  	stroke: #fff;
}

text.stats {
  fill:white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 60%;
}
text.stat_number {
  fill:#999;
  /* font-family: Verdana, Geneva, sans-serif;
  font-size: 60%; */
}
text.sl{
  text-anchor:start;
}
text.sr{
  text-anchor:end;
}

rect.stats_bars{
  fill:#eae31e;
}
