body {
    background-color: #1e1f21;
    margin:0;
    height:100%;

    fill:#fff;
    font-family: Verdana, Geneva, sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

rect.score_separator {
  fill:#444;
  stroke:black;
  /* stroke_width:3; */
}
text.title_text{
  fill:#fff;
  font-size: 150%;
  font-family: Verdana, Geneva, sans-serif;
}

text.score_number {
  fill:#fff;
  font-size: 200%;
  padding-top: 0;
}

text.title_circle_text{
  fill:white;
  font-family: Verdana, Geneva, sans-serif;
  text-anchor:middle;
  font-size: 200%;
}

circle.title_circle{
  fill:#1e1f21;
  stroke:white;
}


text.exp_text{
  fill:#999;
  text-anchor:middle;
  font-size: 80%;
}

text.jersey_numbers {
  font-family: sans-serif;
  font:impact;
  font:Verdana;
  pointer-events: none;
  fill:white;
  text-anchor:middle;

}

circle {
	stroke: #999;
	stroke-width: 2;
}

.pass_line {
	fill: none;
  stroke-opacity: 0.2;
	stroke: #fff;
}

.pass_line--highlight {
  stroke-opacity: 0.99;
  stroke: #fff
}

text.link_label{
  fill:white;
  text-anchor:middle;
  font-family: Verdana, Geneva, sans-serif;
  font-size:80%;
}

rect.link_label_bg{
  fill:black;
  opacity:0.7;
}

.comp_box_title{
  fill:white;
  text-anchor:middle;
  font-family: Verdana, Geneva, sans-serif;
}

#comparison_box {

    x:0;
    y:0;
  	fill:none;
    stroke-width: 1;
  	stroke: #fff;
    rx:5;
    ry:5;

}
#comparison_box_midline{
  y:0;
  stroke:white;
  stroke_width:2;
}

.compline{
  /* y:0; */
  stroke:#f1d647;
  stroke-width:2;
  stroke-opacity: 0.7;


}
.compcircle{
  /* fill:#ffb460; */
    fill:#f1d647;
  r:2.5%;
  stroke:none;
  opacity: 1.0;
}
.compcircle_small{
  fill:#f1d647;
  r:1.5%;
  stroke:none;
  opacity: 1.0;
}




text.stats {
  fill:#999;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 60%;
}
text.stat_number {
  fill:#fff;
}
text.sl{
  text-anchor:start;
}
text.sr{
  text-anchor:end;
}

rect.player_card{
  fill:none;
  stroke:#474a4f;
}



text.card_text{
  fill:#999;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 60%;
}
text.card_field{
  fill:#fff;
  font-family: Verdana, Geneva, sans-serif;
}

a {
  color:#999;
}
#data-source-link {
  position:absolute;
  /* left:40%; */
  right:0;
  bottom:0px;
  font-size: 7px;
  color:#999;
  text-align:center;
}
